@import '../../assets/stylesheets/common';
.overview-page{
  .iframe-video{
      height: 400px;
  }
  .video-box-demo{
    .iframe-video{
          height: 500px;
      }
  }
  .title-overview{
      font-size: rem(16)
  }
  .teacher-name{
      color: $yellow1
  }
  .chartBox{
      height: 500px;
      background-color: rgba(0, 0, 0, 0.75);
      .chart{
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 400px;
          height: 400px;
          margin: auto;
          width: 100%;
      }
  }
  .list-overview{
      display: inline;
      li{
          text-align: center;
          padding: 0px rem(20);
          position: relative;
          &:after{
              content: '';
              width: 1px;
              height: 100%;
              background: #9b9b9b;
              position: absolute;
              top: 0px;
              right: 0px;
          }
          &:last-child:after{
            width: 0px;
          }
          .list-overview-number{
              display: block;
              color: $yellow1;
              font-size: rem(38);
          }
      }
  }
  .syllabusList{
    &__title{
        font-size: rem(18);
    }
    &__time{
        font-size: rem(14);
        color: #9b9b9b;
    }
      .card{
          background: transparent;
          .card-header{
              background: rgba(255, 255, 255, 0.25);
              padding: 0px;
              position: relative;
              .media-body{
                  padding: 10px 0px;
              }
              .iconList:after{
                font-family: 'FontAwesome';
                content: "\f105";
                position: absolute;
                top: 20%;
                right: 5%;
                color: #fff;
                font-size: rem(35);
                transition: 300ms;
              }
              .active:after{
                transition: 300ms;
                font-family: 'FontAwesome';
                content: "\f107";
                position: absolute;
                top: 20%;
                right: 5%;
                color: #fff;
                font-size: rem(35);
              }
              a{color: #f6f6f6}
              .list-inline-item{
                  vertical-align: middle;
              }
          }
          .card-body{
              background-color: rgba(74, 76, 79, 0.38);
              margin-top: 2px;
          }
      }
  }
}

