@import '../../assets/stylesheets/common';
.path-page{
    .colProcess {
        background-color: rgba(255, 255, 255, 0.05);
        height: 100%;
        &__circle{
            display: inline-block;
            vertical-align: middle;
            width: 45%;
        }
        &__title{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .colSkill {
        background-color: rgba(255, 255, 255, 0.05);
        height: 100%;
        .chart{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 400px;
            height: 400px;
            margin: auto;
            width: 100%;
        }
    }
    .colAwards{
        background-color: rgba(255, 255, 255, 0.05);
        height: 100%;
        .card-group{
            border: 0px;
            background: transparent;
        }
        .card{
            background: transparent;
            box-shadow: transparent;
            border: 0px;
            flex: initial;
        }
        &__list{
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
                margin-bottom: 10px;
                &.disable{
                    opacity: 0.4;
                }
            }
        }
        &__hours{
            font-size: rem(35px);
            font-family: $f-medium;
            width: 50px;
            text-align: right;
            color: $yellow1
        }
        &__colRight{
            padding-left: rem(15);
            border-left: 1px solid #979797 !important;
            h5{
                font-size: rem(16);
            }
        }
    }
    .boxPath{
        background-color: #2e3235;
        &__title{
            font-size: rem(24);
        }
        .tb-last-path{
            background-color: $yellow1;
            a{
                color: #000;
            }
            thead{
                th{
                    border: 0px;
                    font-size: rem(11);
                    color: #000;
                    text-transform: uppercase;
                }
            }
            tbody{
                tr, td{
                    color: #000;
                    border: 0px;
                    font-size: rem(14);
                    border-bottom: 1px solid #000;
                }
            }
        }
        .tb-path{
            a{
                color: $cl-primary;
            }
            thead{
                th{
                    border: 0px;
                    font-size: rem(11);
                    color: $cl-primary;
                    text-transform: uppercase;
                }
            }
            tbody{
                tr, td{
                    color: $cl-primary;
                    border: 0px;
                    font-size: rem(14);
                    border-bottom: 1px solid #979797;
                }
                tr:last-child td{
                    border-bottom: 1px solid transparent;
                }
            }
        }
        .pagination{
            li{
                a.page-link{
                    background: transparent;
                    color: #fff;
                    border: 0px;
                    font-size: rem(17);
                    &:hover{
                        text-decoration: underline;
                    }
                }
                &.active{
                    a.page-link{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}