# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# build
/build

.eslintcache
server.min.js
server.min.js.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*