@import '../../assets/stylesheets/common';
.quiz-page{
    padding: rem(60) 0px;
    &__title{
        font-size: rem(30);
        line-height: rem(40);
        font-family: $f-medium;
        margin-bottom: rem(20);
    }
    .formQuiz{
        p{
            padding: rem(20) 0px;
        }
        .quizList{
            margin-left: rem(35)
        }
        .custom-checkbox{
            .custom-control-input:checked ~ .custom-control-indicator {
                background-color: $yellow1;
            }
            .custom-control-input:focus ~ .custom-control-indicator {
                box-shadow: none;
            }
        }
        .custom-radio{
            line-height: rem(33);
            .custom-control-description-quiz{display: block}
            .custom-control-input:focus ~ .custom-control-indicator {
                box-shadow: none;
            }
            .custom-control-input ~ .instrument-block .custom-control-description-quiz{
                border: 2px solid $yellow1;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin-bottom: rem(10);
                position: relative;
                .iconInstruments {
                    position: absolute;
                    fill: #fff;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .custom-control-input ~ .custom-control-indicator {
                background-image: none;
                background: transparent;
                width: 23px;
                height: 23px;
                border: 1px;
                border-color: #666;
                border-style: solid;
            }
            .custom-control-input:checked ~ .custom-control-indicator {
                background-image: none;
                background: $yellow1;
                width: 25px;
                height: 25px;
                border: 5px;
                border-color: #000;
                border-style: double;
            }
            .custom-control-description{
                margin-left: rem(7)
            }
            .custom-control-indicator{
                background-color: none;
            }
            .custom-control-input:checked ~ .instrument-block .custom-control-description-quiz {
                background-color: $yellow1;
                .iconInstruments {
                    position: absolute;
                    color: #000;
                }
            }
        }
    }
}