@keyframes loadingMini {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(360deg);
  }
}

.loading-small {
  position: relative;
  display: block;
  z-index: 13;
  margin: 15px auto;
  width: 150px;
  height: 150px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  margin-top: 150px;
  margin-bottom: 150px;
  
  // &:hover {
  //   border-color: rgba(210, 210, 210, .5);
  // }
  
  // &:hover:before {
  //   background-color: rgba(210, 210, 210, .4);
  // }
  
  &:before {
    position: absolute;
    display: block;
    content: '';
    z-index: 12;
    top: 4px;
    left: 4px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #1e2124;
  }
  
  &:after {
    position: absolute;
    display: block;
    top: 0;
    content: '';
    z-index: 11;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    border-radius: 200px 0 0 0;
    background:  linear-gradient(95deg, #ffeb00, #fbdd10);
    animation: loadingMini .9s linear infinite;
  }
}