@import '../../assets/stylesheets/common';
.sidebar {
  li{
    margin: rem(7) 0px;
    a{
      display: block;
      padding: rem(10);
      padding-left: rem(20);
      font-size: rem(14);
      color: #fff;
      &:hover{
        background-color: $yellow1;
        color:#222;
        text-decoration: none;
      }
    }
    &.active{
      background-color: $yellow1;
      a{
        color:#222;
      }
    }
  }
}