.btn, a.btn{
  padding: rem(12) rem(25);
  border: 0px;
  font-size: rem(15);
  border-radius: 0px;
}
.btn-primary, a.btn-primary{
  background-color: $yellow1;
  color: #191919;
}
.btn-second{
  background-color: #fff;
  color: #000;
}
.btn-login-fb{
  padding: rem(15) rem(45);
  font-size: rem(15);
  color: #fff;
  @include gradientBlue();
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow:none;
}

.btn-primary:disabled {
  opacity: 0.4;
  background-color: $yellow1;
}