$black: #000;
$cl-primary: #f6f6f6;
$cl-second: #9b9b9b;
$white: #fff;
$yellow1: #FBDD10;
$yellow2: #FFEB00;
$blue: #1959FF;
$prune: #7F00FF;
// rem mixins
$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

//fonts
@font-face {
  font-family: 'FontAwesome';
  src: url('../../assets/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../assets/fonts/Montserrat-Bold.eot');
  src: url('../../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../../assets/fonts/Montserrat-Bold.woff') format('woff'),
       url('../../assets/fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../../assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../../assets/fonts/Montserrat-Black.eot');
  src: url('../../assets/fonts/Montserrat-Black.woff2') format('woff2'),
       url('../../assets/fonts/Montserrat-Black.woff') format('woff'),
       url('../../assets/fonts/Montserrat-Black.ttf') format('truetype'),
       url('../../assets/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../assets/fonts/Montserrat-Medium.eot');
  src: url('../../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../../assets/fonts/Montserrat-Medium.woff') format('woff'),
       url('../../assets/fonts/Montserrat-Medium.ttf') format('truetype'),
       url('../../assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../assets/fonts/Montserrat-Regular.eot');
  src: url('../../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Montserrat-Regular.woff') format('woff'),
       url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../../assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../assets/fonts/Montserrat-Light.eot');
  src: url('../../assets/fonts/Montserrat-Light.woff2') format('woff2'),
       url('../../assets/fonts/Montserrat-Light.woff') format('woff'),
       url('../../assets/fonts/Montserrat-Light.ttf') format('truetype'),
       url('../../assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
$f-bold: Montserrat-Bold;
$f-black: Montserrat-Black;
$f-medium: Montserrat-Medium;
$f-regular: Montserrat-Regular;
$f-light: Montserrat-Light;

@mixin gradientYellow(){
  background: linear-gradient(102deg, #ffeb00, #ffd200);
  background: -moz-linear-gradient(102deg, #FFEB00, #fbdd10); /* FF3.6+ */
  background: -webkit-linear-gradient(102deg, #FFEB00, #fbdd10); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(102deg, #FFEB00, #fbdd10); /* Opera 11.10+ */
  background: -ms-linear-gradient(102deg, #FFEB00, #fbdd10); /* IE10+ */
}
@mixin gradientBlue(){
  background: linear-gradient(to right, #1959ff, #7f00ff); /* IE10+ */
  background: -moz-linear-gradient(to right, #1959ff, #7f00ff); /* FF3.6+ */
  background: -webkit-linear-gradient(to right, #1959ff, #7f00ff); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to right, #1959ff, #7f00ff); /* Opera 11.10+ */
  background: -ms-linear-gradient(to right, #1959ff, #7f00ff); /* IE10+ */
}
@mixin gradientOrange() {
  background-image: linear-gradient(to right, #ff945d, #ee3d49);
  background-image: -moz-linear-gradient(to right, #ff945d, #ee3d49);
  background-image: -webkit-linear-gradient(to right, #ff945d, #ee3d49);
  background-image: -o-linear-gradient(to right, #ff945d, #ee3d49);
  background-image: -ms-linear-gradient(to right, #ff945d, #ee3d49);
}