
input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  transition: all .3s;
  font-size: 1rem;
  box-shadow: none;
  box-sizing: content-box;
}
.form-control{
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #a3acbf
}
.form-group{
  margin-bottom: rem(35)
}
.search-input{
  width: 100%;
  text-align: center;
}