
input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  transition: all .3s;
  font-size: 1rem;
  box-shadow: none;
  box-sizing: content-box;
}