// style 
@import "./bootstrap/bootstrap.scss";
@import "common";
@import "button";
@import "form";
@import "loading";
@import "videoSlide";
@import "videoplayer";
@import "icon";
*{color: $cl-primary; font-family: $f-regular;}
body{background-color: #1e2124;}
.bg_red{background-color: red;}
.bg_blue{background-color: blue;}
.bg_yellow{background-color: yellow;}
.recharts-text{fill: #fff;}
.recharts-wrapper{margin: auto}
.recharts-polar-grid-concentric-circle{
    fill: #a0a0a0;
    fill-opacity: 0.1;
    stroke: #a0a0a0;
    stroke-opacity: 0.6;
}
.recharts-polar-radius-axis-line{stroke: transparent;}
.recharts-polar-radius-axis-tick-value {font-size: 0px;}
.recharts-polar-angle-axis-tick{font-size: 12px;}
.cursorMouse{cursor:pointer;}
.search-no-result{color: $yellow1}
.pageTitle{
    &__title{
        margin-top: rem(40);
        font-size: rem(36)
    }
    &__sub{
        margin-bottom: rem(30);
        font-size: rem(16);
    }
}
.col-pagecontent{
    border-left: 2px solid #707070;
}
.CircularProgressbar {
    width: 100%;
  }
.CircularProgressbar .CircularProgressbar-path {
    stroke: #1959FF;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #000;
  }
  .CircularProgressbar .CircularProgressbar-text {
    fill: #fff;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }
  .iframe-video{
      border: 0px;
      width: 100%;
  }
  .discovery{
      &__title{
          font-size: rem(20);
      }
  }
  .pathRow{
      &__title{
          font-size: rem(30);
          color: $yellow1
      }
  }
